USE [demosamira]
GO
/****** Объект:  Table [dbo].[product]    Дата создания скрипта: 14.06.2026 2:22:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[ID_product] [int] IDENTITY(1,1) NOT NULL,
	[Name_pr] [nvarchar](50) NULL,
	[Articul] [int] NULL,
	[Discount] [int] NULL,
	[Price] [int] NULL,
	[Discription] [nvarchar](50) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[ID_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[roles]    Дата создания скрипта: 14.06.2026 2:22:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[ID_role] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[users]    Дата создания скрипта: 14.06.2026 2:22:06 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID_user] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](8) NULL,
	[Login] [nvarchar](max) NULL,
	[ID_role] [int] NULL,
	[FIO] [nvarchar](max) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([ID_product], [Name_pr], [Articul], [Discount], [Price], [Discription]) VALUES (2, N'fgffg', 21123, 1, 3123, N'fdfdцйу')
INSERT [dbo].[product] ([ID_product], [Name_pr], [Articul], [Discount], [Price], [Discription]) VALUES (3, N'dferfrr', 444, 44, 44, N'fgfg')
INSERT [dbo].[product] ([ID_product], [Name_pr], [Articul], [Discount], [Price], [Discription]) VALUES (4, N'ffdgdg', 544, 345, 24, N'rthrgr')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([ID_role], [Name]) VALUES (2, N'Пользователь')
INSERT [dbo].[roles] ([ID_role], [Name]) VALUES (3, N'Админ')
INSERT [dbo].[roles] ([ID_role], [Name]) VALUES (4, N'я')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([ID_user], [Password], [Login], [ID_role], [FIO]) VALUES (1, N'1', N'111', 2, N'оврров')
INSERT [dbo].[users] ([ID_user], [Password], [Login], [ID_role], [FIO]) VALUES (2, N'2', N'222', 3, N'dsfdsd')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_Roles] FOREIGN KEY([ID_role])
REFERENCES [dbo].[roles] ([ID_role])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_Roles]
GO
